:root {
  --color-primary: #4daf54;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  height: 100vh;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#4daf54), to(#3d8880));
  background-image: linear-gradient(to right, #4daf54, #3d8880);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.product {
  width: 32rem;
  padding: 4rem 2rem;
  height: 40rem;
  border-radius: 1rem;
  background-color: #272d40;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.product:hover .product-img {
  -webkit-transform: rotate(-20deg) translate(20px, -90px);
          transform: rotate(-20deg) translate(20px, -90px);
}
.product:hover .product-title {
  -webkit-transform: translate(-46px, -70px);
          transform: translate(-46px, -70px);
}
.product:hover .product-price {
  -webkit-transform: translate(-122px, -70px);
          transform: translate(-122px, -70px);
}
.product:hover .product-colors, .product:hover .product-sizes, .product:hover .product-btn-group {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  visibility: visible;
  opacity: 1;
}
.product-cart, .product-like {
  position: absolute;
  top: 1.6rem;
}
.product-cart > a, .product-like > a {
  color: #fff;
  font-size: 2.5rem;
}
.product-cart:hover a, .product-like:hover a {
  opacity: 0.8;
}
.product-like {
  left: 1.6rem;
}
.product-cart {
  right: 1.6rem;
}
.product-img {
  width: 90%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.product-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-title {
  color: var(--color-primary);
  font-size: 2.4rem;
  text-align: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.product-price {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 600;
  display: block;
  margin-top: 1.4rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.product-sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
.product-sizes li {
  display: inline-block;
}
.product-sizes li button {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.8rem 1rem;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.product-sizes li button:hover {
  opacity: 0.8;
}
.product-sizes p {
  font-size: 2rem;
  margin-right: 1.2rem;
}
.product-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  margin-top: 1.6rem;
}
.product-colors p {
  font-size: 2rem;
  margin-right: 1.2rem;
}
.product-colors button {
  padding: 1.2rem;
  border-radius: 50%;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}
.product-colors button:hover {
  opacity: 0.8;
}
.product-colors button.red {
  background-color: red;
}
.product-colors button.blue {
  background-color: blue;
}
.product-colors button.green {
  background-color: green;
}
.product-btn-group {
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.product-btn-group .product-btn {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  margin-right: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.product-btn-group .product-btn:hover {
  opacity: 0.8;
}